<div data-role="page" id="home">
    <div data-role="header">
        <h1>Login</h1>
    </div>
    <div data-role="main" class="ui-content" ng-show="isLoginSave">
        <p>You need to login to view your Facebook profile information</p>
        <button class="button button-block button-positive" ng-click="fbLogin()">
            Login with Facebook
        </button>


        <button class="button button-block button-positive" ng-click="goListFilms()">
            Ship this!
        </button>
    </div>
</div>
